body{
  background: #f8f8f8;
}
.navbar-dark .navbar-brand {
    color: #fff !important;
}
.newshead
{
  text-align: center;
  font-weight: 600;
  margin: 20px 0;
}
span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-success
{
  right: 0;
}
.card-news
{
  min-height: 565px;
  border-radius: 0;
  box-shadow: rgb(25 25 25 / 4%) 0 0 1px 0, rgb(0 0 0 / 10%) 0 3px 4px 0;
}
.card-news .card-img-top
{
  min-height: 260px;
  max-height: 260px;
}
.card-news .card-body .card-title
{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}
.card-news .card-body  .btn
{
  padding: 10px 30px;
  background: #000;
  border: none;
}