body{
  background: #f8f8f8;
}
.navbar-dark .navbar-brand {
    color: #fff !important;
}
.alert
{
  margin-top: 100px;
}
.login
{
  margin-top: 100px;
    box-shadow: rgb(25 25 25 / 4%) 0 0 1px 0, rgb(0 0 0 / 10%) 0 3px 4px 0;
    background: #f5f5f5;
    padding: 100px 60px 60px;
    border: 1px solid #000;
    border-radius: 3px;
    max-width: 500px;
}
.login h1 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.login  label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 11px;
}
.login input {
  border-radius: 4px;
  border: 1px solid #a7a7a7;
  margin-bottom: 30px;
}
.login button {
  background: #000;
  border: 1px solid #000;
  padding: 10px 50px;
  border-radius: 3px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}
.login button:hover
{
  background: #000;
  border: 1px solid #000;
  color: #fff;
}
.login button:focus
{
  box-shadow: none !important;
}
.newshead
{
  text-align: center;
  font-weight: 600;
  margin: 20px 0;
  margin-top: 100px;
}
span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-success
{
  right: 0;
}
.card-news
{
  min-height: 565px;
  border-radius: 0;
  box-shadow: rgb(25 25 25 / 4%) 0 0 1px 0, rgb(0 0 0 / 10%) 0 3px 4px 0;
}
.card-news .card-img-top
{
  min-height: 260px;
  max-height: 260px;
}
.card-news .card-body .card-title
{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}
.card-news .card-body .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle
{
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
.card-news .card-body  .btn
{
  padding: 10px 30px;
  background: #000;
  border: none;
}