body{
  background: #f8f8f8;
}
.navbar-dark .navbar-brand {
    color: #fff !important;
}
.alert
{
  margin-top: 100px;
}
.login
{
    padding: 40px 40px 40px;
    box-shadow: rgb(25 25 25 / 4%) 0 0 1px 0, rgb(0 0 0 / 10%) 0 3px 4px 0;
    background: #fff;
    border-radius: 3px;
    max-width: 500px;
    margin-top: 150px;
}
.login h1 {
  text-align: center;
    padding: 0 0 50px 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
}
.login  label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 11px;
}
.login input {
  border: 1px solid #cdcdcd;
  margin-bottom: 30px;
  border-radius: 0;
}
.login button {
  
    margin-top: 20px; 
    width: 100%;
    box-shadow: 0 5px 19px rgb(34 58 115 / 50%) !important;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    border-radius: 0 !important;
    background-color: #223a73 !important;
    border-color: #223a73 !important;
    outline: none !important;
}
.login button:hover
{
  background: #000;
  border: 1px solid #000;
  color: #fff;
}
.login button:focus
{
  box-shadow: none !important;
}
.newshead
{
  text-align: center;
  font-weight: 600;
  margin: 20px 0;
  margin-top: 100px;
}
span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-success
{
  right: 0;
}
.card-shop
{
  min-height: 550px;
  max-height: 550px;
  border-radius: 0;
  box-shadow: rgb(25 25 25 / 4%) 0 0 1px 0, rgb(0 0 0 / 10%) 0 3px 4px 0;
}
.card-shop img.card-img-top {
  max-height: 330px;
  min-height: 330px;
}
.card-news
{
  min-height: 565px;
  border-radius: 0;
  box-shadow: rgb(25 25 25 / 4%) 0 0 1px 0, rgb(0 0 0 / 10%) 0 3px 4px 0;
}
.card-news .card-img-top
{
  min-height: 260px;
  max-height: 260px;
}
.card-news .card-body .card-title
{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}
.card-news .card-body .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle
{
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
.card-news .card-body  .btn
{
  padding: 10px 30px;
  background: #000;
  border: none;
}